.logo-size{
    text-align: center;
    width: 85px;
    margin: 0px;
    padding: 0px;
}

.logo-size-footer{
    text-align: center;
    width: 150px;
    margin: 0px;
    padding: 0px;
}
.text-medium {
    font-size: 23px;
    line-height: 35px;
}
.text-mediumMax{
    padding-top: 35px;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33em;
}
.text-cards{
    font-size: 19px;
}
.text-cards-bold{
    font-size: 23px;
    font-weight: bold;
}
.text-title{
    font-size: 50px;
    font-weight: 200;
}
.text-title-vender-mas{
    
    font-size: 40px;
    font-weight: bold;
}
.p-text-vender{
    font-size: 30px;
    font-weight: bold;
}
.text-title-bold{
    font-size: 42px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-title-blog{
    font-size: 42px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.date-blog{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: gray;
}

.card-title-name{
    font-size: 30px;
}
.card-title-price{
    font-size: 35px;
    font-weight: bold;
}
.navbar-color{
    background-color: #17A2B8 !important;
}
.color-index-seccion-2{
    background-color: #0C66BC !important;
}
.up-100{
    height: 100px;
}
.up-30{
    height: 30px;
}
.up-50{
    height: 50px;
}
.margin-bottom{
 margin-bottom: 70px;
}
.center{
    align-items: center;
    justify-content: center;
}
.text-large{
    font-size: 35px;
    line-height: 35px;
}
.margin-40px-bottom {
    margin-bottom: 40px;
}
.margin-auto {
    margin-right: auto!important;
}
.block {
    display: block!important;
}
.no-padding{
    padding: 0%;
}
.no-margin{
    margin: 0px;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.up-200{
    height: 100px;
}
*{
    font-family: 'Segoe UI Light', sans-serif;
    font-weight: 500;
}
.space{
    height: 100px;
    padding: 70px 0;
}
  .font-weight-600 {
    font-weight: 600;
}
.padding-sm{
    padding: 0px !important;
}
@media (max-width: 750px) and (max-height: 1000){
    .img-interna-blog{
        background-repeat: no-repeat;
        background-size: cover;
        }
}
/*ESTA SERVIRA PARA LA SECCION SEGUNDA SECCION EN EL INDEX CUANDO ESTEN EN TABLETS*/
@media (max-width: 1100px) and (max-height: 800px)  {
    .background-bussines {
        height: 700px !important; 
    }
    .background-bussines-2{
        height: 900px !important; 
    }
    .img-interna-blog{
        background-repeat: no-repeat;
        background-size: cover;
        }
}
/* img-fluid img-50w-50h br aniview */
/*ESTA SERVIRA PARA LA SECCION DE LOS PRECIOS EN EL INDEX*/
@media(max-width : 800px) and (max-height: 1200px){
    .background-blue-card{
        height: 2200px !important;
    }
    .padding-sm{
        padding: 20px !important;
    }
    .padding-top{
        padding-top: 50px;
    }
    .img-interna-blog{
        width: 250px !important;
        height: 250px !important; 
        background-repeat: no-repeat;
        background-size: cover;
        }
}
/*ESTA SERVIRA PARA LA SECCION DE LOS PRECIOS EN EL INDEX*/
@media(max-width : 400px) and (max-height: 850px){
    .background-blue-card{
        height: 2650px !important;
    }
    .padding-sm{
        padding: 20px !important;
    }
    .padding-top{
        padding-top: 50px;
    }
    .img-interna-blog{
        width: 250px !important;
        height: 250px !important; 
        background-repeat: no-repeat;
        background-size: cover;
        }
}
/*ESTA SERVIRA PARA LA SECCION DE LOS PRECIOS EN EL INDEX*/
@media(max-width : 850px) and (max-height: 500px){
    .background-blue-card{
        height: 2200px !important;
    }
    .padding-sm{
        padding: 20px !important;
    }
    .padding-top{
        padding-top: 50px;
    }
    .img-interna-blog{
        width: 250px !important;
        height: 250px !important; 
        background-repeat: no-repeat;
        background-size: cover;
        }

}
@media (max-width: 1100px) and (max-height: 1400px)  {
    .background-bussines {
        height: 700px !important; 
    }
    .background-bussines-2{
        height: 900px !important; 
    }
    .img-interna-blog{ 
    background-repeat: no-repeat;
    background-size: cover;
    }
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.anchoCarrousel{
   width: 100%;
   height: 600px;
   
}
.br{
    display: inline;
    line-height:   150pt;
}
.img-50w-50h{
    width: 70%;
    height: 500px; 
    background-repeat: no-repeat;
    background-size: cover;
}
.img-60w-50h{
    width: 350px;
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
}
.img-blog{
    width: 250px !important;
    height: 250px !important; 
    background-repeat: no-repeat;
    background-size: cover;
}
.background-jumbotron{
    background-image: url("../img/index/2-ajust.jpg");
    width: 100%;
    height: 900px; 
    background-repeat: no-repeat;
    background-size: cover;

}
.back-log{
    background-image: url("https://i.postimg.cc/rm5ZMybr/fondo.jpg");
    width: 100%;
    height: 500px; 
    background-repeat: no-repeat;
    background-size: cover;

}
.background-jumbotron9{
    background-image: url("https://i.postimg.cc/PxDR0qwk/img.jpg");
    width: 100%;
    height: 600px; 
    background-repeat: no-repeat;
    background-size: cover;
}
.background-blog{
    background-image: url("../img/blogs/principal/portada.jpg");
    width: 100%;
    height: 500px; 
    background-repeat: no-repeat;
    background-size: cover;

}
.background-bussines{
    background-image: url("../img/index/adult-business-meeting-business.jpg");
    width: 100%;
    height: 500px; 
    background-repeat: no-repeat;
    background-size: cover;
}
.background-bussines-2{
    background-image: url("../img/index/bicycle.jpg");
    width: 100%;
    height: 750px; 
    background-repeat: no-repeat;
    background-size: cover;
}
.background-bussines-3{
    background-image: url("https://i.postimg.cc/SxnppTN7/working1.jpg");
    width: 100%;
    height: 700px; 
    background-repeat: no-repeat;
    background-size: cover;
}
.background-blue-card{
    background-image: url("../img/index/02.gif");
    width: 100%;
    height: 900px; 
    background-repeat: no-repeat;
    background-size: cover;
}
.style-text-box{ 
    height: 100px !important;
}
/*  APARTADO DE NOSOTROS */
/* FUENTE FjallaOne*/
@font-face
{
   font-family: "FjallaOne";
   src: url("../fonts/FjallaOne-Regular.ttf") format("truetype");
}
.font-subtitle{
    font-family: 'FjallaOne';
}
.background-nosotros{
    background-image: url("../img/nosotros/equipoP.jpg");
    width: 100%;
    height: 600px; 
    background-repeat: no-repeat;
    background-size: cover;
}
.background-quienesomos{
    padding: 20px;
    background-color: white;
    color: white;
    padding-top: 55px;
    padding-bottom: 80px;
    color: black;
}
.title-nosotros{
    font-family: 'FjallaOne';
    padding-top: 200px;
    margin-bottom: 40px;
    font-size: 65px;
    line-height: 60px;
}
.subtitle-somos{
   /* font-family: 'FjallaOne'; */
    margin-bottom: 50px;
}
.subtitle-margin{
    font-family: 'FjallaOne';
    font-size: 35px; 
}
.margin-nosotros{
margin-bottom: 20px;
padding: 0px;
}
.title-equipo{
    font-family: 'FjallaOne';
    padding-top: 70px;
    margin-bottom: 70px;
    font-size: 40px;
}
.background-card{
    background-color: rgb(255, 255, 255) !important;
}
.container-margin{
    margin-bottom: 60px;
}
.icon-ajust{
    margin-left: 20px;
}
.subtitle-somos-margin{
    margin-top: 30px;
}
.img-nosotros-grandes{
    background-image: url("../img/nosotros/arquitectura.jpg");
    width: 100%;
    height: 600px; 
    background-repeat: no-repeat;
    background-size: cover;
}
.background-grandes{
    background-color: #0C66BC !important;
    color: white;
}
.card-title-name-nosotros{
    font-size: 20px;
}
/*SERVICIOS*/
.background-servicios{
    background-image: url("../img/servicios/librocafe2.jpg");
    width: 100%;
    height: 600px; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}
.background-productos{
    background-image: url("../img/paquetes/banner-p2-j.jpg");
    width: 100%;
    height: 85px;
    background-repeat: no-repeat;
    background-size: cover;
}
.subtitle-servicios{
    font-family: 'FjallaOne';
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    color: black;
}
.background-formulario{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #454545;
    color: white;
    margin: 0px;
    padding: 0px;
}
.background-formulario-img{
    width: 100%;
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}
.margin-style{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}
@media only screen and (min-width: 992px){
   .card-right{
    margin-right: 40%;
    max-width : 22rem;
   }
   .card-left{
    margin-left: 40%;
    max-width : 22rem;
   }

} 
/*PREGUNTAS FRECUENTES*/
.background-preguntas{
    background-image: url("../img/preguntas/laptop-2.jpg");
    width: 100%;
    height: 600px; 
    background-repeat: no-repeat;
    background-size: cover;
   /*margin-bottom: 60px;*/
}
.background-preguntas-imagen{
    width: 100%;
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}
.color-questions{
    color: black;
    font-size: 17px;
    font-weight: bold;
}
.color-questions:hover{
    color: gray;
    text-decoration-line: none;
    font-weight: bold;
}
.color-questions:focus{
    color: gray;
    text-decoration-line: none;
    font-weight: bold;
}
/*CONTACTANOS*/
.background-contactanos{
    background-image: url("../img/contantanos/CofeeAgenda.jpg");
    width: 100%;
    height: 600px; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}
/*FOOTER-DISAIGN*/
.footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 0px;
	border-top-left-radius: 0px;
}
.contacto-form{
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.icons-form{
    padding: 25px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 50%;
    background-color: rgb(206, 206, 206);
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
/*ANIMACIONES*/
#icon1{
   visibility: hidden;
   }
#icon2{
   visibility: hidden;
   }
#icon3{
   visibility: hidden;
   }
.card-web{
    visibility: hidden;
}
.card-marca{
    visibility: hidden;
}
.card-seo{
    visibility: hidden;
}
.card-mantenimiento{
    visibility: hidden;
}
.card-hosting{
 visibility: hidden;
}

.card-web-s{
    visibility: visible;
}
.card-marca-s{
    visibility: visible;
}
.card-seo-s{
    visibility: visible;
}
.card-mantenimiento-s{
    visibility: visible;
}
.card-hosting-s{
    visibility: visible;
}
/*Animaciones*/

/*.icon-up{
    display: inline-block;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background: rgb(6, 108, 202);
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;

}*/

.margin-ajust{
margin-top: 30px;
border: 1px solid #e8e9eb;
height: 450px;
width: 100%;
box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
box-sizing: border-box;
display: table;
margin-bottom: 10px;
padding: 32px;
position: sticky;
}

.boton-ajuste{
    height: 50px;
    width: 90%;
}
.posicion-ajuste{
    margin-bottom: 80px;
}
.margenverde{
    border: red 5px solid !important;
}


/*BLOG*/
.background-blog-white{
    background-color: whitesmoke;
}
.img-blog-introduction{
    width: 100%;
    height: 400px; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}
.img-blog-barside{
    width: 100%;
    height: 200px; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}
.blog-text-introduction{
    font-size: 16px;
    line-height: 25px;
}
.blog-float-box{
    float: right;
    width: 28%;
    height: auto; overflow: hidden;
}

.subtitle-blog{
    
    font-size: 40px;
    font-weight: bold;
}

a.enlace-blog{
    font-size: 20px !important;
    color: #6e6e69 !important;
}

.back{
    background-color: #f1f1f1;
}

.teayudamos-blog{
    font-size: 23px;
    font-weight: bold;
    
}
.img-interna-blog{

}

.modonoche{
    background-color: #1b1b1b !important;
    color: whitesmoke !important;
    
}
.mododia{
    background-color: whitesmoke !important;
    color:  #1b1b1b !important;
}


.estirarimg{
    height: 318px !important; 
}


/* ASPECTO DEL CONTADOR*/

#fecha {
    line-height: 5em;
    margin: 0 auto;      
    text-align: center;
  }
  .text-clock{
    width: 100px;
    font-size: 30px;
    font-weight: bold;
  }
  .back-dark{
      background-color: #1b1b1b;
  }
  .tittle-clock{
    font-weight: bold;
    font-size: 30px;
  }
  .text-smm{
      font-size: 10px;
      align-items: unset;
  }
  .up{
    height: 70px;
  }
  /*ASPECTO CONTADOR CON ANILLOS*/

.texto-chart{
    position: relative !important;
    top: 400px !important; left: 40px !important;
  }
  .barColor{
      background-color: #0C66BC;
  }




  /*CONFIGURACION ESTILO ALERTAS*/
  .alertify-notifier{
      color: white !important;
  }